@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pomodoro-time {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-container {
    margin: 20px;
    padding: 20px;
}

.button-container {
    margin: 20px;
    padding: 20px;
}

.start-button, .stop-button, .reset-button, .short-break-button, .long-break-button {
    color: white;
    margin: 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.start-button {
    background-color: green;
}

.stop-button {
    background-color: red;
}

.reset-button {
    background-color: grey;
}

.short-break-button {
    background-color: blue;
}

.long-break-button {
    background-color: #b4a5d2;
}

.main-heading {
    font-size: 36px;
    margin-bottom: 20px;
}

.display-time {
    font-size: 48px;
    margin-bottom: 20px;
}
